<div class="container">
  <div class="recipe-search">
    <div class="input-div">
      <mat-form-field class="chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let searchTerm of searchTerms" [selectable]="true"
                    [removable]="true" (removed)="removeSearchTerm(searchTerm)">
            {{searchTerm}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <input placeholder="Szukaj przepisu po składnikach lub nazwie dania..."
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="false"
               (matChipInputTokenEnd)="addSearchTerm($event)">
      </mat-form-field>

      <button id="search-recipe-btn" mat-raised-button (click)="search()">Szukaj</button>
    </div>
  </div>

  <div class="add-new-recipe">
    <div class="input-div">
      <mat-form-field>
        <input #recipeUrl matInput placeholder="Wklej adres www strony z przepisem">
      </mat-form-field>
      <button id="add-recipe-btn" mat-raised-button (click)="add(recipeUrl.value); recipeUrl.value=''">Dodaj przepis
      </button>
    </div>
  </div>

  <mat-paginator #topPaginator
                 [length]="recipesLength"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[4, 12, 18]"
                 (page)="changeListTop($event)"
                 class="top-paginator">
  </mat-paginator>
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="1%">
    <div *ngIf="!pagedRecipes.length" class="no-recipe">{{noRecipesInfo}}</div>

    <div *ngFor="let recipe of pagedRecipes" fxFlex="24%" fxFlex.sm="49%" fxFlex.md="32%">
      <mat-card class="recipe-card" routerLink="/recipes/{{recipe.id}}">
        <i class="far fa-trash-alt trash-icon" (click)="removeRecipe(recipe, $event)"></i>
        <img *ngIf="recipe.image"
             mat-card-image class="img-responsive"
             [src]="recipe.image">
        <div *ngIf="!recipe.image" mat-card-image
             class="no-image">
          <span>Brak zdjęcia</span>
        </div>
        <mat-card-content>
          <h5 class="recipe-title">{{recipe.title}}</h5>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-paginator #bottomPaginator
                 [length]="recipesLength"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[4, 12, 18]"
                 (page)="changeListBottom($event)"
                 class="bottom-paginator">
  </mat-paginator>
</div>
